<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <!--&lt;!&ndash; 引入外部的bootstrap的css文件(压缩版) &ndash;&gt;-->
    <!--<link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css">-->
    <!--&lt;!&ndash; NO.1 先引入jQuery文件(压缩版) &ndash;&gt;-->
    <!--<script src="bootstrap-3.3.7-dist/js/jquery.min.js"></script>-->
    <!--&lt;!&ndash; NO.2 再引入js文件(压缩版) &ndash;&gt;-->
    <!--<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>-->

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<h1 class="page-header">标题下有分割线</h1>
</body>
</html>