<html xmlns="http://www.w3.org/1999/xhtml" class="hb-loaded">
 <head> 
  <title>用户协议</title> 
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" /> 
  <style>
  *{margin: 0; padding: 0;}
  body{
    font-family: 'Microsoft YaHei';
    background: #242d3c url(../images/loginBg.png) center center no-repeat;
  }
  .protocol{
    width: 1024px;
    border: 1px solid #d0d0d0;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    margin: 65px auto 0;
    padding: 50px 0;
    background: #fff;
  }
  .protocol_til{
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 70px;
  }
  .protocol_part{
    width: 904px;
    padding: 0px 60px;
    color: #555;
    line-height: 36px;
    letter-spacing:1px;
  }
  .protocol_part h3{
    font-size: 18px;
  }
  .protocol_part div{
    margin-bottom: 40px;
  }
</style>
 </head> 
 <body> 
  <div class="protocol"> 
   <div class="protocol_til">
    内聘网用户协议
   </div> 
   <div class="protocol_part"> 
    <h3>一、版权</h3> 
    <div>
     此网址的内容和图表受到中国版权法律、法规及相关国际条约的保护。neipin.com拥有一切权利，未经 neipin.com同意，不允许全部或部分复制、转载或以其他任何方式使用。禁止以任何目的重新使用neipin.com网上的内容和图表。经neipin.com同意后复制、转载或者以其他形式使用本网站相关资料的，应当标明资料来源于“neipin.com”，以及 neipin.com或相关第三方拥有该等资料的著作权的字样。请勿复制或采用neipin.com所创造的用以制成网页的HTML。HTML的版权同样属于neipin.com。neipin.com对其网址上的所有图标、图饰、图表、色彩、文字表述及其组合、版面设计、数据库均享有完全的著作权及其衍生的其他全部权利，对发布的信息均享有专有的发布和使用权。
    </div> 
    <h3>二、免责条款 </h3> 
    <div>
     neipin.com并未随时监视此网址，但保留进行随时监视的权利。对于非neipin.com公布的材料，neipin.com一概不负任何责任。使用者承认并同意，应聘信息发布方对存入简历中心的个人简历及材料的格式、内容的准确性和合法性负有全部责任，招聘信息发布方对于其在职位数据库公布的材料的准确性和合法性负有全部责任。对于neipin.com为使用者提供便利而设置的外部链接网址，neipin.com并不保证其准确性、安全性和完整性，亦并不代表本网站对其链接内容的认可，请使用者谨慎确认后使用，neipin.com对由此导致的任何损失或伤害不承担任何责任。
     <br />neipin.com对由于政府禁令、现行生效的适用法律或法规的变更、火灾、地震、动乱、战争、停电、通讯线路中断、 黑客攻击、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可预见、不可避免、不可克服和不可控制 的事件（“不可抗力事件”），以及他人蓄意破坏、neipin.com工作人员的疏忽或不当使用，正常的系统维护、系统升级，或者因网络拥塞而导致本网 站不能访问而造成的本网站所提供的信息及数据的延误、停滞或错误，以及使用者由此受到的一切损失不承担任何责任。
     <br /> neipin.com不能保证某一种职位描述会有一定数目的使用者来浏览，也不能保证会有一位特定的使用者来浏览。
    </div> 
    <h3>三、网站使用</h3> 
    <div>
     1、明确的禁止使用 neipin.com 只能用于合法目的，即个人寻找职业和雇主寻找雇员。neipin.com 明确禁止任何其他用途，并要求所有使用者同意不用于下列任何一种用途：
     <br /> （1）在简历中心公布不完整、虚假或不准确的简历资料，或不是使用者的准确简历(而为他人寻找全职或兼职工作)。
     <br /> （2）公布不是简历的资料，如意见、通知、商业广告或其他非简历内容。
     <br /> （3）为neipin.com的竞争同行回应职位，并用此方法寻求与雇主联络业务。
     <br /> （4）除发布者外，删除或修改其他个人或公司公布的资料。
     <br /> （5）擅自打印、复制或以其他方式使用有关雇员的任何个人资料或有关雇主的商业信息。
     <br /> （6）未经同意，给公布信息的个人或公司发电子邮件、打电话、寄信或以其他方式进行接触。
     <br />
    </div> 
    <div>
     2、网址安全法规禁止使用者破坏或企图破坏 neipin.com 的安全法规，包括但不限于：
     <br /> （1）接触未经许可的数据或进入未经许可的服务器或帐户；
     <br /> （2）没有得到许可，企图探查、扫描或测试系统或网络的弱点或者破坏安全措施；
     <br /> （3）企图干涉对用户及网络的服务，包括但不限于通过超载、“邮件炸弹”或“摧毁”等手段；
     <br /> （4）发送促销、产品广告及服务的email； （5）伪造TCP/IP数据包名称或部分名称。破坏系统或网络可能导致犯罪。neipin.com 将调查此类破坏行为的发生，并可能干预、和执法当局合作起诉犯此类破坏行为的使用者。
     <br />
    </div> 
    <div>
     3、严禁从事以下行为：
     <br /> （1）违反任何适用法规；
     <br /> （2）侵犯他人的版权、商业机密、或其他知识产权，或侵犯了他人的隐私权、出版权或其他个人合法权利；
     <br /> （3）利用本网站传送、分发、储存属于诽谤、淫秽、威胁、辱骂性、毁损他人或其他非法或者违反社会公德的材料；
     <br /> （4）利用本网站提供的服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为；
     <br /> （5）以任何形式使用本网站提供的服务进行任何不利于本网站的行为。
    </div> 
    <h3>四、暂停使用、终止使用 </h3> 
    <div>
     任何一位使用者经 neipin.com 确定已违反了网站使用规则某一项规定，将收到一份书面警告。如果该使用者同意以书面形式表示自己再也不会有违犯行为，neipin.com 有权决定是否给予暂停使用或终止使用的处理。然而，如果我们认为必要时，也可不提出警告而马上暂停或终止对该使用者的服务。如果我们确定某一使用者再次违犯了网络使用规则的任何一项规定，无需再发通知，该使用者立即受到暂停使用或终止使用的处理。
    </div> 
    <h3>五、用户隐私 </h3> 
    <div>
      除了本网址在保密承诺中提出的条款外，使用者理解并同意，neipin.com 在不公开姓名的情况下，可以向第三方提供综合性的非个人化信息资料。除非依照法律、法规、法院命令、监管机构命令的要求，或根据政府行为、监管要求或请求，或因neipin.com其认为系为遵守监管义务所需时，在没有本人事先同意的情况下，neipin.com 不会向第三方公开你的姓名、地址、电子邮件和电话等个人信息，但以下情况除外：
     <br /> （1）根据执法单位之要求或为公共之目的向相关单位提供个人资料；
     <br /> （2）由于访问者将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露； 
     <br /> （3）由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等；
     <br /> （4）由于与本网站链接的其他网站所造成之个人资料泄露及由此而导致的任何法律争议和后果；
     <br /> （5）为免除访问者在生命、身体或财产方面之急迫危险。 
    </div> 
    <h3>六、风险声明 </h3> 
    <div>
     你使用本网址将承担自行风险。本网址的材料是按“正如……的情况”所提供的，对材料不作明显的或暗含的保证。除非适用的法律法规有明确规定，neipin.com 及其所属网络对销售性的和适合于某一特定目的的一切保证不予承认。 neipin.com 不能保证材料的特殊目的不受阻挠不出错误，也不能保证错误会得到纠正，也不能保证本网址或制成本网址的材料不含有病毒或其他有害成分。在有关材料的使用或使用结果方面对材料的正确性、准确性、可靠性或其他方面，neipin.com 不作出保证或任何说明。你（而不是 neipin.com ）承担一切必要的服务、修理或改正费用。在适用法规不允许暗含保证可免除承担一切费用的范围里，免除上述承担费用不适用于你。
    </div> 
    <h3>警告 </h3> 
    <div>
     在使用 neipin.com 网络时违背了这些法规将构成对neipin.com权利的侵犯或违反，并可导致对你采取法律行动。
    </div> 
    <h3>隐私条款</h3> 
    <div style="margin-top:40px;">
     有关使用者的非个人化信息
    </div> 
    <div>
     一般来说，我们收集使用者的非个人化信息，例如使用者经常访问的是neipin.com上的哪些内容和使用者最经常使用的是neipin.com所提供的哪类服务项目。我们亦会以总体的形式来使用这些信息及数据。这些非个人化资料帮助我们确定，对于我们的使用者来说什么是最有益的，以及我们需以何种方式不断改进和提高管理和服务的质量，并为我们的使用者创造一个更好的使用环境。我们可能与我们的业务合作伙伴分享这些非个人化的资料，但也只是以总体的形式分享，以便我们的业务合作伙伴们也能为你们创造良好的使用环境。
    </div> 
    <div>
     有关使用者的个人化信息
    </div> 
    <div>
     在某些情况下，使用者使用neipin.com提供的服务，如“我的简历”，或参加neipin.com上举办的有奖竞赛、或要购买某一种在neipin.com上公开的产品，neipin.com可能需要使用者提供一些具体的个人资料。在获得使用者的同意后，我们可能利用这些资料向使用者发送相关职位信息或提供我们认为使用者可能感兴趣的相关的产品和服务信息，或者在neipin.com网站发生改变时通知使用者或和使用者联系。我们也可能向使用者询问或搜集一些其他情况，例如使用者感兴趣的资料、喜欢的网站或不喜欢的网站、感兴趣的职业等等，其目的均是向使用者提供更好的服务和网络使用环境。
    </div> 
    <div>
     公开一般情况的资料
    </div> 
    <div>
     除“有关使用者的非个人化信息”所述情况外，我们不会公开使用者个人浏览neipin.com的情况。除非依照法律、法规、法院命令、监管机构命令的要求，或根据政府行为、监管要求或请求，或因neipin.com其认为系为遵守监管义务所需时，我们不会在没有取得使用者的同意的情况下，公开使用者向我们提供的个人资料，如姓名、地址、电子邮件地址、电话号码、信用卡号码等等个人信息。
    </div> 
    <div>
     如果使用者把个人资料输入我们和我们的业务合作伙伴们共同主持的网页上，例如neipin.com和伙伴公司共同主持的竞赛等，那么使用者的资料将属于neipin.com和业务合作伙伴公司。neipin.com对业务合作伙伴公司所收到该等个人资料以及该业务合作伙伴公司对该等个人信息的使用不负任何法律责任。
    </div> 
    <div>
     简历
    </div> 
    <div>
     由于neipin.com是一个职业网络，你可以把你的简历放入我们的数据库。向neipin.com购买了相应服务的招聘企业或人员可以通过我们的简历数据库找到你的简历。当你向neipin.com递交你的简历时，并选择了公开你的简历选项时，你已经同意向neipin.com购买了相应服务的招聘企业或人员拥有法律上许可的对你的简历进行查询及使用的权利。对于因此而引起的任何法律纠纷（包括但不限于招聘企业或人员错误或非法使用前述简历信息），neipin.com不承担任何法律责任。
    </div> 
    <div>
     尽管neipin.com已作好了全面的安全防范措施后，以下情况仍然有可能发生，例如某一第三方躲过了我们的安全措施并进入我们的数据库，查找到你的简历。neipin.com认为在你把你的简历放入我们的数据库时，你已经意识到了这种风险的存在，并同意承担这样的风险。对于因此而引起的任何法律纠纷，neipin.com不承担任何法律责任。
    </div> 
    <div>
     反馈
    </div> 
    <div>
     neipin.com网络中有相应链接可以使neipin.com接收使用者所提供的反馈信息。通过此类链接收到的反馈信息属于neipin.com所有。在获得前述反馈信息的情况下，应视为neipin.com已经获得使用者同意并拥有对此类信息的使用权，neipin.com可以利用此类反馈信息，如使用“成功的故事”，作为我们的市场宣传活动的内容，或利用使用者所提供的联系方式和你联系再次获得相关反馈信息。
    </div> 
    <div>
     信息保密承诺的改变
    </div> 
    <div>
     如果我们决定改变neipin.com的信息保密承诺，我们会在此公布改变的内容，因此使用者会随时了解到我们向使用者收集什么资料，我们如何使用这些资料，以及我们是否向别人公开这些资料。
    </div> 
    <div>
     如果您有任何关于我们隐私权条款的问题，欢迎您以下列方式和我们联系：
    </div> 
    <div>
     电话：400-626-3578
    </div> 
   </div> 
  </div> 
 </body>
</html>