<html xmlns="http://www.w3.org/1999/xhtml" class="hb-loaded"><head>
    <link href="../images/favico.ico" rel="shortcut icon">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="" name="description">
    <title>职位列表</title>
    <link media="all" href="../css/ResumePreview.css?v=2.40" type="text/css" rel="stylesheet">
    <link media="all" href="../css/onlineresume.css?v=2.40" type="text/css" rel="stylesheet">
    <link media="all" href="../css/base.css?v=2.39" type="text/css" rel="stylesheet">
    <link media="all" href="../css/style.css?v=2.35" type="text/css" rel="stylesheet">
    <script src="../js/jquery-1.7.2.min.js" charset="utf-8" type="text/javascript"></script>
    <link media="all" href="../css/jietu.css?v=2.33" type="text/css" rel="stylesheet">
    <link media="all" href="../css/imgareaselect-default.css?v=2.32" type="text/css" rel="stylesheet">
    <style>
        .images_right{ margin-right:50px; width:180px; height:180px;;}
        .images_right img{ width:180px; height:180px;}
        .nav_ul li a.job_list{color: #17b385;}
        .resumejl_pos iframe{ width: 100%;overflow: hidden; height: 500px; margin-top: 91px;}
        #dragDiv3,#dragDiv2{overflow: visible;}

        .bi_btn{ width: 100%; overflow: hidden; height: 40px; text-align: center; margin-top: 30px;}
        .bi_btn a{ display: inline-block; padding: 0px 20px; height: 40px; line-height: 40px;
            background: #36b16c; color: #fff; font-size:18px; }
        .bi_btn a:first-child{ margin-right: 30px;}
    </style>
    <script src="../js/json2.js" type="text/javascript"></script>
    <script src="../js/choose.js?v=2.33" type="text/javascript"></script>
    <script src="../js/placeholder.js?v=2.32" type="text/javascript"></script>
    <script src="../js/progressbar.js?v=2.32" type="text/javascript"></script>
    <script defer="defer" src="../js/constants.js?v=2.32" type="text/javascript"></script>
    <script src="../js/onlineresume.js?v=2.38" charset="utf-8" type="text/javascript"></script>
    <script defer="defer" src="../js/ajaxfileupload.js?v=2.32" type="text/javascript"></script>
    <script defer="defer" src="../js/common.js?v=2.34" type="text/javascript"></script>
    <!--<script type="text/javascript" src="js/drag.js?v=2.32"></script>-->
    <script defer="defer" src="../js/selectphoto.js?v=2.32" type="text/javascript"></script>
    <script defer="defer" src="../js/jquery.imgareaselect.pack.js" type="text/javascript"></script>
    <script defer="defer" src="../js/loading.js?v=2.32" type="text/javascript"></script>

    <script defer="defer" src="../js/center.js?v=2.32" type="text/javascript"></script>
    <script type="text/javascript">





        $(function(){
            $('.close_btn').live("click",function(){
                $(".hsbj").hide();
                $(".tanchu_logo").hide();
                $(".imgareaselect-selection").parent().css({"display":"none"});
                $(".imgareaselect-outer").css({"display":"none"});
            });
            if($.browser.msie) {
                $(".tanchu_logo").load("/job/jiettu");
            }else{
                $(".tanchu_logo").load("/job/jietu");
            }

            if($.browser.msie) {
                //$('.fileInput').css({'background':'none','width':'220px','padding-top':'10px'})
                //$('.fileInput').empty();
                //$('.fileInput').append('<input type="file" onchange="javascript:upload();" name="f_jianli"  id="f_jianli" style="width:70px"/>');
            }

            // 组件鼠标滑过
            $(".search_ul li").live("mousemove",function(event){
                $(this).css("background","#eee");
            });
            $(".search_ul li").live("mouseout",function(event){
                currentSelIndex = -1;
                oldSelIndex = -1;
                $(this).css("background","#fff");
            });

            var flg = 0;
            // 添加专业名词
            $('#add_ci').click(function(){
                $('#input_str').focus();
                $('#add_ci code').hide();
                var heig = $(this).height() + 2;
                $('.tab_list').css({'top':heig});
                $('.tab_list').slideDown();
                $('.keys').hide();
                if(flg == 0){
                    flg = 1;
                    $('.moren').click();
                }
            })


            //关键字查询部分
            var oldContent = "";//文本变化前的内容，使用它和新内容对比，发生了变化才发送ajax请求
            $('#add_ci').keyup(function(event){
                if ((event.keyCode == 38 || event.keyCode == 40 || event.keyCode == 13)) {
                    return;
                }
                var content = $("#input_str").val().replace(/(^\s*)|(\s*$)/g,"");
                if(content == "" || (oldContent == "" && content == oldContent))
                {
                    oldContent = "";
                    $('.search_ul').hide();
                    return;//没有输入内容或者文本内容没有发生变化时就返回
                }
                oldContent = content;

                var param = new Object();
                param.param1 = $("#input_str").val().replace(/(^\s*)|(\s*$)/g,"");
                jQuery.ajax({
                    type: 'post',
                    contentType : 'application/json; charset=utf-8',
                    dataType: 'json',
                    url: '/ajax/selectKw.do',
                    data: JSON.stringify(param),
                    success: function(data){
                        if(data.ret == "0")
                        {
                            if(data.keywords.length > 0){

                                $('.tab_list').hide();

                                $('.keys').slideDown();
                                $('.search_ul').html("");
                                $('.search_ul').show();
                                var length = data.keywords.length;
                                if(length > 10){
                                    length = 10;
                                }
                                for(var i=0;i<length;i++){
                                    $('.search_ul').append("<li id='li_"+i+"'><span>"+data.keywords[i].node_name+"</span><label>"+data.keywords[i].p_name+"</label></li>");
                                }
                            }else{
                                $('.tab_list').hide();
                                $('.keys').slideDown();
                                $('.search_ul').hide();
                            }
                        }
                    }
                });
            })

            $('.tab_li span').click(function(){
                $(this).addClass('active').siblings('span').removeClass('active');
                //$('.tab_con').empty().append('<li><i>123</i><em class="list_em"></em></li>');
                var str = $(this).text();
                requestKeyword(str);
            })

            // 点击提交到input
            $('.tab_con i').live('click',function(event){
                $(this).parent().addClass('active');
                var e=window.event || event;
                if(e.stopPropagation){
                    e.stopPropagation();
                }else{
                    e.cancelBubble = true;
                }
                var val = $(this).text().replace(/(^\s*)|(\s*$)/g,"");

                var allNodes = document.getElementById("add").getElementsByTagName("i");
                for(var i=0; i<allNodes.length ;i++){
                    if(val == allNodes.item(i).innerHTML.replace(/(^\s*)|(\s*$)/g,"")){
                        return;
                    }
                }
                $(this).parents('.tab_list').siblings('#add_ci').find('.add_cons').show().append('<li><i>'+ val + '</i><em class="list_em"></em></li>');
                var heig = $(this).parents('.tab_list').siblings('#add_ci').height() + 2;
                $('.tab_list').css({'top':heig});
                $('.remove_con').show();
            })
            // 清空
            $('.remove_con').click(function(){
                $(this).hide();
                $('.add_cons').empty();
                $('.tab_con li').removeClass('active');
            })

            // 删除自定义的标签
            $('.tab_con .list_em').live('click',function(event){
                var param = new Object();
                param.param1 = $(this).siblings('#delete_id').val();
                var node = $(this).parent();
                jQuery.ajax({
                    type: 'post',
                    contentType : 'application/json; charset=utf-8',
                    dataType: 'json',
                    url: '/ajax/deleteSelfKw.do',
                    data: JSON.stringify(param),
                    success: function(data){
                        if(data.ret == "0")
                        {
                            node.remove();
                        }
                    }
                });

            });

            $('.search_ul li').live('click',function(event){
                var e=window.event || event;
                if(e.stopPropagation){
                    e.stopPropagation();
                }else{
                    e.cancelBubble = true;
                }
                var val = $(this).find('span').text().replace(/(^\s*)|(\s*$)/g,"");


                var allNodes = document.getElementById("add").getElementsByTagName("i");
                for(var i=0; i<allNodes.length ;i++){
                    if(val == allNodes.item(i).innerHTML.replace(/(^\s*)|(\s*$)/g,"")){
                        return;
                    }
                }

                $(this).parents('.keys').siblings('#add_ci').find('.add_cons').show().append('<li><i>'+ val + '</i><em class="list_em"></em></li>');
                $(this).parents('.keys').siblings('#add_ci').find('input').val('');
                $('#input_str').focus();
                $(".remove_con").show();
            })
            // 加号
            if ($('#add').has('li')) {
                $('#add_ci code').hide();
            };
            $('.label_s code').live('click',function(){
                $('#add_ci code').hide();
                $('.tab_list').slideDown();
            })

            $('.tab_li font').live('click',function(){
                $('.tab_list').slideUp();
            })
            $('.add_cons em').live('click',function(){
                $(this).parents('li').remove();
                var heig = $('#add_ci').height();
                $('.tab_list').css({'top':heig});
            })

            //添加自定义
            $('.add_tj a').live('click',function(){
                $('.hsbj').show();
                $('.add_new_label').show();
                var cal = $('#add_ci input').val();
                $('.wbd').val(cal);
            })

            $('.tanclosebtn').click(function(){
                $('.add_new_label').hide();
                $('.hsbj').hide();
            })
            $('.que_xiao .no').live('click',function(){
                $('.add_new_label').hide();
                $('.hsbj').hide();
            })

            $('.que_xiao .sure').live('click',function(){
                $('.add_new_label').hide();
                $('.hsbj').hide();
                var param = new Object();
                param.param1 = $(".seles_bqlb").text().replace(/(^\s*)|(\s*$)/g,"");
                param.param2 = $(".wbd").val();
                if(param.param1 == "请选择"){
                    param.param1 = "";
                }
                if(param.param2 == ""){
                    return;
                }

                jQuery.ajax({
                    type: 'post',
                    contentType : 'application/json; charset=utf-8',
                    dataType: 'json',
                    url: '/ajax/saveSelfKw.do',
                    data: JSON.stringify(param),
                    success: function(data){
                        if(data.ret == "0")
                        {
                            var val = $('.wbd').val();
                            $('#add_ci').find('input').val('');
                            var allNodes = document.getElementById("add").getElementsByTagName("i");
                            for(var i=0; i<allNodes.length ;i++){
                                if(val == allNodes.item(i).innerHTML.replace(/(^\s*)|(\s*$)/g,"")){
                                    return;
                                }
                            }
                            $('#add_ci').find('.add_cons').show().append('<li><i>'+ val + '</i><em class="list_em"></em></li>');
                            $(".remove_con").show();
                        }
                    }
                });
            })
//简历预览删除显示
            $('.yishangchuan_pos').live('mouseover',function(){
                if(jianli_flag != "" && jianli_flag != null){
                    $(this).find('.yishangchuan_hover').show();
                }
            })
            $('.yishangchuan_pos').live('mouseout',function(){
                $(this).find('.yishangchuan_hover').hide();
            })

//加号显示
            $('.dragDiv').live('mouseover',function(){
                if($('#item_exprience2').is(":visible")==false || $('#gzjl2').is(":visible")==false){
                    $(this).find('.more_experience').show();
                }

            })
            $('.dragDiv').live('mouseout',function(){
                $(this).find('.more_experience').hide();
            })


        })

        function tanchu_logo(){
            // $('.tanchu_logo .jietuqu .images_left img').attr({src: "images/d_default.png"});
            //   $('.tanchu_logo .jietuqu .images_left img').css({"width":"300px","height":"300px", "margin-top": "0px" });
            //   $('.tanchu_logo .jietuqu .images_right img').attr({src: "/images/x_default.png"});
            //   $('.tanchu_logo .jietuqu .images_right img').css({"width":"120px","height":"120px","margin-right":"50px","margin-left": "0px", "margin-top":"0px"});
            $(".hsbj").show();
            $(".tanchu_logo").show();
        }

        function requestKeyword(str){
            var param = new Object();
            param.param1 = str;
            jQuery.ajax({
                type: 'post',
                contentType : 'application/json; charset=utf-8',
                dataType: 'json',
                url: '/ajax/requestKw.do',
                data: JSON.stringify(param),
                success: function(data){
                    if(data.ret == "0")
                    {
                        $('.tab_con').empty();
                        if(str == "自定义"){
                            for(var i =0;i<data.keywords.length ;i++){
                                $(".tab_con").append("<li><i>"+data.keywords[i].node_name+"</i><em class='list_em'></em><input type='hidden' value='"+data.keywords[i].id+"' id='delete_id'/></li>");
                            }
                        }else{
                            for(var i =0;i<data.keywords.length ;i++){
                                $('.tab_con').append('<li><i>'+data.keywords[i].node_name+'</i></li>');
                            }
                        }
                    }
                }
            });
        }

        var currentSelIndex = -1;
        var oldSelIndex = -1;

        function getImage1(){
            $('.close_btn').click();
        }
    </script>
</head>
<body>
<div id="main">
    <link href="../css/base.css?v=2.39" type="text/css" rel="stylesheet">
    <link href="../css/style_qq.css?v=2.33" type="text/css" rel="stylesheet">
    <script charset="utf-8" type="text/javascript" src="../js/header.js?v=1.00"></script>
    <script charset="utf-8" type="text/javascript" src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js"></script>
    <script>
        var jianlistatustype="";
        var tui_user_pro='';
        var res_tuijian='';
        var uname = "416148489@qq.com";
        var ukbn = "0";
        var isIE7 = false;
        //验证标识
        var verifyflg="0";

//        function logout(){
//            jQuery.ajax({
//                type: 'post',
//                contentType : 'application/json; charset=utf-8',
//                dataType: 'json',
//                url: '/ajax/logout.do',
//                data: JSON.stringify(new Object()),
//                success: function(data){
//                    window.location.href = "/";
//                }
//            })
//        }

        $(document).ready(function(){
//底部tab切换
            $('.contact_Con .contactCon').hide();
            $('.contact_Con .contactCon').eq(0).show();
            $('.contact_tab span').click(function(){
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
                $('.contact_Con .contactCon').hide();
                $('.contact_Con .contactCon').eq($(this).index()).show();

            })

//判断是否为ie6
            var isIE=!!window.ActiveXObject;
            var isIE6=isIE&&!window.XMLHttpRequest;
            var isIE8=isIE&&!!document.documentMode;
            var isIE7=isIE&&!isIE6&&!isIE8;
            if (isIE){
                isIE7 = true;
                if (isIE6){
                    $('.bsie').show();
                }
            }
            $('.closeBtn').click(function(){
                $('.a_box').hide();
            })

//底部二维码
            $('.about_Us span.ma_img').mouseover(function(){
                $(this).find('img').show();
            })
            $('.about_Us span.ma_img').mouseout(function(){
                $(this).find('img').hide();
            })
            //点击登录
            $('#login_click').live("click",function(){
                my_login();
            });

            if(ukbn==1){
                getSelectHrJobJianLi();
            }
            //点击导航的登录
            $('#dl_span').live("click",function(){
                window.location.href='login.html.html';
            });

            // 账号的回车事件
            $('#myusername').keydown(function(event){
                if(13 == event.keyCode || 13 == event.which){
                    my_login();
                }
            });

            //密码的回车事件
            $('#mypassword').keydown(function(event){
                if(13 == event.keyCode || 13 == event.which){
                    my_login();
                }
            });

            // 搜索职位的回车事件
            $('#my_job_form').keydown(function(event){
                if(13 == event.keyCode || 13 == event.which){
                    headtijiao();
                }
            });


            //登录框隐藏与显示
            //$('.dl_hide').hide();
            $('.pos_dl'). mouseenter(function(){
                $('.dl_hide').show();
            });
            $('.pos_dl').mouseleave(function(){
                $('.dl_hide').hide();
            });

            //鼠标滑过2维码显示
            $('.wx_pos').mouseover(function(){
                $(this).find('img').show();
            })

            $('.wx_pos').mouseleave(function(){
                $(this).find('img').hide();
            })
            if(uname!=""&&uname!=null){
                // 调用此方法
                getSelectProfileJobJianLi();
            }

            // 事件关闭
            $('span').click(function(){
                $(this).parent().slideUp();
            })
//      $('.event_top span').click(function(){
//        $(this).parent().slideUp();
//      })

//      $('.event_top').click(function(){
//          window.open("/act");
//      })



            if(uname != "" && uname != null && ukbn == 1){
                getHrNewJianliNum();
            }

        });

        // 查询职位方法
        function headtijiao(){
            var xinkeywd = encodeURIComponent($("#my_job_form").val());
            window.location.href='/job/?mkwd='+xinkeywd;
        }
        //查询职位方法结束

        // 登录方法
        function my_login(){
            $("#herders_cuowu").hide();
            var param = new Object();
            param.emailAddr = $("#myusername").val();
            param.passwd = $("#mypassword").val();
            if(param.emailAddr == "")
            {
                $("#herders_cuowu").html("请填写用户名");
                $("#herders_cuowu").show();
                return;
            }
            if(param.passwd == "")
            {
                $("#herders_cuowu").html("请填写密码");
                $("#herders_cuowu").show();
                return;
            }

            jQuery.ajax({
                type: 'post',
                contentType : 'application/json; charset=utf-8',
                dataType: 'json',
                url: '/ajax/login.do',
                data: JSON.stringify(param),
                success: function(data){
                    if(data.ret == "0")
                    {
                        if(data.ukbn==1){
                            //window.location.href = "/hr/";
                            window.location.href = "/job.html";
                        } else{
                            window.location.href = "/job.html";
                        }
                    }
                    else if(data.ret == -1)
                    {
                        $("#herders_cuowu").html("用户不存在或密码错误");
                        $("#herders_cuowu").show();
                    }
                    else
                    {
                        $("#herders_cuowu").html("登录失败，请稍候重试");
                        $("#herders_cuowu").show();
                    }
                }
            });
        };
        //查询普通用户没有回复hr面试通知的数量
        function getSelectProfileJobJianLi(){
            var param = new Object();
            var total = 0;
            jQuery.ajax({
                type: 'post',
                contentType : 'application/json; charset=utf-8',
                dataType: 'json',
                url: '/ajax/getSelectProfileJobJianLi.do',
                data: JSON.stringify(param),
                success: function(data){
                    if(data.np.number0>0)
                    {
                        total = total + data.np.number0;
                        //$("#profile_jianli_number").text(data.np.number0);
                        //$("#profile_jianli_number").show();
                        $("#profile_jianli_number2").text(data.np.number0);
                        $("#profile_jianli_number2").show();
                    }
                    if(jianlistatustype==0){
                        if(data.np.number1>0)
                        {
                            $("#profile_jianli_number_1").text(data.np.number1);
                            $("#profile_jianli_number_1").show();
                        }
                        if(data.np.number2>0)
                        {
                            $("#profile_jianli_number_2").text(data.np.number2);
                            $("#profile_jianli_number_2").show();
                        }
                        if(data.np.number3>0)
                        {
                            $("#profile_jianli_number_3").text(data.np.number3);
                            $("#profile_jianli_number_3").show();
                        }

                    }
                    if(jianlistatustype==1){
                        if(data.np.number3>0)
                        {
                            $("#profile_jianli_number_1").text(data.np.number4);
                            $("#profile_jianli_number_1").show();
                        }
                        if(data.np.number4>0)
                        {
                            $("#profile_jianli_number_2").text(data.np.number5);
                            $("#profile_jianli_number_2").show();
                        }
                        if(data.np.number5>0)
                        {
                            $("#profile_jianli_number_3").text(data.np.number6);
                            $("#profile_jianli_number_3").show();
                        }

                    }
                    var jk=parseInt(data.np.number1)+parseInt(data.np.number2)+parseInt(data.np.number3);
                    var jk1=parseInt(data.np.number4)+parseInt(data.np.number5)+parseInt(data.np.number6);
                    if(jk>0)
                    {
                        $("#profile_jianli_number_4").text(jk);
                        $("#profile_jianli_number_4").show();
                    }
                    if(jk1>0)
                    {
                        $("#profile_jianli_number_5").text(jk1);
                        $("#profile_jianli_number_5").show();
                    }
                    total = total + jk + jk1;
                    if(total > 0)
                    {
                        $("#jianli_status").append('<em>'+total+'</em>');
                    }
                }
            });
        };

        //查询hr没有回复数量
        function getSelectHrJobJianLi(){
            jQuery.ajax({
                type: 'post',
                contentType : 'application/json; charset=utf-8',
                dataType: 'json',
                url: '/ajax/getSelectHrJobJianLi.do',
                data: JSON.stringify(new Object()),
                success: function(data){
                    if(data.np.number1>0){
                        $("#hr_mei_jianli").append("<em>"+data.np.number1+"</em>");
                        $("#shou").append("<em>"+data.np.number1+"</em>");
                    }
                    if(data.np.number2>0){
                        $("#hr_tong_jianli").append("<em>"+data.np.number2+"</em>");
                    }
                }
            });
        };

        //查询Hr新简历数
        function getHrNewJianliNum(){
            jQuery.ajax({
                type: 'post',
                contentType : 'application/json; charset=utf-8',
                dataType: 'json',
                url: '/ajax/newnum.do',
                data: JSON.stringify(new Object()),
                success: function(data){
                    if(data.newnum > 0){
                        $('.num').show();
                        $('.num').text(data.newnum);
                    }else{
                        $('.num').hide();
                    }
                }
            });
        }

        //登录结束
        $(document).ready(function(){
//            $(".job_technology").click(function (e) {
//                $(".job_list li a").removeClass("active");
//                $(".job_list li a").addClass("inactive");
//                $(this).removeClass("inactive");
//                $(this).addClass("active");
//            });
//            $(".job_design").click(function (e) {
//                $(".job_list li a").removeClass("active");
//                $(".job_list li a").addClass("inactive");
//                $(this).removeClass("inactive");
//                $(this).addClass("active");
//            });
//            $(".job_market").click(function (e) {
//                $(".job_list li a").removeClass("active");
//                $(".job_list li a").addClass("inactive");
//                $(this).removeClass("inactive");
//                $(this).addClass("active");
//            });
//            $(".job_probduct").click(function (e) {
//                $(".job_list li a").removeClass("active");
//                $(".job_list li a").addClass("inactive");
//                $(this).removeClass("inactive");
//                $(this).addClass("active");
//            });

        });

    function apply(workId) {
        var param = new Object();
        param.workId = workId;
        jQuery.ajax({
            type: 'post',
            dataType: 'json',
            url: '/job/apply',
            data: param,
            success: function (data) {
                if(data.status == "200") {
                    alert("投递成功");
                } else {
                    alert(data.msg);
                }
            },
            error: function (data) {
                console.info(data);
            }
        });
    }
    </script>
    <div style="width:100%; height:50px; line-height:50px; font-size:18px; color:#b94a48; background:#f2dede; text-align:center;" class="bsie">
        <span>本系统可能有些功能不支持IE6，请用更高版本或其他的浏览器</span>
    </div>
    <!-- 头部 -->
    <!--<div class="event_top">-->
    <!--<div class="event_center"></div>-->
    <!--</div>	-->
    <#include "header.html">
    <div style="display:none" class="tishi">
        <span id="tishi_msg"></span>
        <div style="top:5px; right:5px;" class="close_X">X</div>
    </div>
    <div class="hsbj"></div>
    <div style="display:none;" class="whitebg"></div>

    <!--这是加载AJAX的动态转图-->
    <div style="left:50%; float:left; position:fixed; top:50%; z-index:100009; display:none;" id="home_loading">
        <img src="../images/anim_loading_75x75.gif">
    </div>
    <div class="containter_box">
        <div class="containter">
            <div style="display:none;" class="qiujian left">
                <div class="jian_top">
                    <img alt="" src="../images/jian_resume.jpg">
                    <p>将我推荐至合适的岗位，从此登上人生巅峰。</p>
                    <div>
                        <a style="display:none;" class="on" href="javascript:onoff(0);">快速开启</a>
                        <a style="" class="off" href="javascript:onoff(1);">关闭推荐</a>
                    </div>
                </div>
                <div class="jian_process">
                    <p></p>
                    <div>
                        <div>开启极速<br>推荐功能</div>
                        <div>将您匿名<br>推荐给HR</div>
                        <div>收到HR<br>面试邀请</div>
                        <div style="height:40px; line-height:40px;">面试</div>
                    </div>
                </div>
                <div class="jian_QA">
                    <p></p>
                    <div>
                        <div class="qa">
                            <p>1、什么叫求推荐？</p>
                            <div>答：开启求推荐功能之后，内聘网的资深职业顾问会将你的简历以匿名方式推荐给与你期望职位匹配的企业。</div>
                        </div>
                        <div class="qa qb">
                            <p>2、会不会将我的简历推荐到我以前或者现在的公司？</p>
                            <div>答：我们的职业顾问绝逼不会酱紫，推荐的简历是匿名的、联系方式是隐藏的，只有你同意去面试后，才会将你的个人信息显示给HR。</div>
                        </div>
                        <div class="qa">
                            <p>3、是我自己投递的好呢？还是你们推荐的好？</p>
                            <div>答：开启求推荐的功能后，不用自己找工作啦，内聘网以大数据和人工智能为依据，力图为你匹配出最适合你的职位，免费享受高质量的求职服务。我们比你更了解你自己。</div>
                        </div>
                        <div class="qa qb">
                            <p>4、职业顾问主要是干嘛的？</p>
                            <div>答：内聘网的职业顾问不仅有在人力资源行业工作十年以上的资深人士，还有90后萌妹纸、小鲜肉帮你修改简历&mdash;面试辅导&mdash;推荐工作&mdash;畅谈梦想，一条龙式服务，你懂哒！</div>
                        </div>
                    </div>
                </div>
                <div class="jian_Tips">
                    <p></p>
                    <div>
                        <div>1、虽然职业顾问将你推荐给HR，但是也会有HR觉得你的简历不合适，如果HR觉得不合适，我们暂时不会通知你，如果你想知道些“为什么”的话，我们会询问HR详细原因并反馈给你。</div>
                        <div>2、HR对你的简历满意，你当然也可以傲娇的拒绝。
                        </div>
                        <div>3、最后，求职的你们一定要先完善在线简历，如果你是毕业生，必须要填写教育背景，如果你已工作，必须填写工作经历。</div>
                    </div>
                </div>
            </div>

            <div class="event_job_list">
                <h2 style="margin: 20px">职位列表</h2>
                <!--<div class="job_list">-->
                    <!--<ul>-->
                        <!--<li><a class="job_technology active" href="#home">技术类</a></li>-->
                        <!--<li><a class="job_probduct" href="#news">产品类</a></li>-->
                        <!--<li><a class="job_design" href="#contact">设计类</a></li>-->
                        <!--<li><a class="job_market" href="#about">市场职能类</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

                <div class="table-layout" style="margin-top: 40px">
                    <table class="gridtable gridtable-joblist"
                           style="margin-bottom: 0px;">
                        <tr>
                            <th >岗位名称</th>
                            <th >职位类型</th>
                            <th >工作地点</th>
                            <th >投递</th>
                        </tr>
                        <tbody id="equList">
                        <#list joblist as job>
                            <tr><td>${job.name}</td><td>${job.workType}</td><td>${job.workCity}</td><td><button onclick="apply('${job.workId}')">投递</button></td></tr>
                        </#list>
                        </tbody>
                    </table>
                </div>

            </div>


            <div style="display:none;" class="resumejl_pos">
                <iframe frameborder="0" src="" class="fujian_yulan"></iframe>
                <div class="bi_btn">
                    <a class="close_fujian" href="javascript:void(0);">关闭</a>
                </div>
            </div>

            <script src="../js/jquery.wheelmenu.js" type="text/javascript"></script>
            <div class="QQ_each">
                <a class="wheel-button float_qq" href="#wheel" style="opacity: 1;"></a>
                <ul class="wheel" id="wheel">
                    <li class="item"><a href="404.html"></a></li>
                    <li class="item"><a href="404.html"></a></li>
                    <li class="item"><a href="404.html"></a></li>
                    <li class="item"><a href="404.html"></a></li>
                    <!--<li class="item"><a target="_blank" href="404.html" class='sss'>沙僧</a></li>-->
                    <li class="item"><a class="bj" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1589510939&amp;site=qq&amp;menu=yes" target="_blank">求职<br>服务</a></li>
                    <li class="item"><a class="wk" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1589510939&amp;site=qq&amp;menu=yes" target="_blank">招聘<br>服务</a></li>
                    <li class="item"><a class="ts" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1589510939&amp;site=qq&amp;menu=yes" target="_blank">bug<br>反馈</a></li>
                    <li class="item"><a href="404.html"></a></li>
                    <li class="item"><a href="404.html"></a></li>
                    <li class="item"><a href="404.html"></a></li>
                </ul>
            </div>
            <a style="display: none;" class="back_to_top" title="" href="404.html"></a>

            <script type="text/javascript">
                $(".wheel-button").wheelmenu({
                    // alert(1);
                    trigger: "hover",
                    animation: "fly",
                    angle: [0, 360]
                });
            </script>

        </div>
    </div>

    <!-- ie上传附件简历 end-->
        <#include "footer.html">


    <!--<div class="a_box">
    <a href="http://qixi.neipin.com/index.html" title="七夕送甜蜜活动" class="activity_icon"></a>
    <span class='closeBtn'></span>
</div>-->


</div></body></html>