<html xmlns="http://www.w3.org/1999/xhtml" class="hb-loaded"><head>
<link href="../images/favico.ico" rel="shortcut icon">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="" name="description">
<title>完善我的名片</title>
<link media="all" href="../css/onlineresume.css?v=2.40" type="text/css" rel="stylesheet">
<link media="all" href="../css/mycard.css?v=2.32" type="text/css" rel="stylesheet">
<link media="all" href="../css/jietu.css?v=2.33" type="text/css" rel="stylesheet">
<link media="all" href="../css/imgareaselect-default.css?v=2.32" type="text/css" rel="stylesheet">
<style>
.images_right{width:180px; height:180px; margin-right:40px;}
.images_right img{width:180px; height:180px;}
.mis_alert{
  text-indent: 8px;
}
</style>
<script src="../js/jquery-1.7.2.min.js" charset="utf-8" type="text/javascript"></script>
<script src="../js/json2.js" type="text/javascript"></script>
<script defer="defer" src="../js/constants.js?v=2.32" type="text/javascript"></script>
<script src="../js/choose.js?v=2.33" type="text/javascript"></script>
<script src="../js/placeholder.js?v=2.32" type="text/javascript"></script>
<script defer="defer" src="../js/jquery.imgareaselect.pack.js" type="text/javascript"></script>
<script defer="defer" src="../js/selectphoto.js?v=2.32" type="text/javascript"></script>
<script defer="defer" src="../js/ajaxfileupload.js?v=2.32" type="text/javascript"></script>
<script defer="defer" src="../js/upload_photo.js?v=2.32" type="text/javascript"></script>
<script defer="defer" src="../js/common.js?v=2.34" type="text/javascript"></script>
<script>
var gender = 0;
var my_tou="1";
var my_tou_url="http://www.neipin.comreg.html";
  $(function(){

  // 保存成功
    $('.save_window_til em').click(function(){
      $(this).parents('.save_window').hide();
      $('.hsbj').hide();
    })
  // 性别选择
  $('.sex_choose_edit span').click(function(){
    $(this).addClass('choosed');
    $(this).siblings().removeClass('choosed');
    gender = $(this).attr("sex");
  });
  
  
    // 期望职位
    $('.seles_xiala').click(function(){
      $(this).siblings('.labels_con').show();
      $(this).parents('.edit_list').find('.seles').css({"z-index":"10"});
      $(this).parents('.edit_list').siblings('.edit_list').find('.seles').css({"z-index":"0"});
      $(this).parents('.myCard_cons').siblings('.myCard_cons').find('.seles').css({"z-index":"0"});
    });

    $('.li_div').mouseover(function(){
      $(this).css({'z-index':'10'}).find('span').addClass('bg');
      $(this).find('ul').show();
      $(this).siblings().css({'z-index':'0'}).find('span').removeClass('bg');
      $(this).siblings().find('ul').hide();
      $(this).parents('.divides').siblings('.divides').find('.li_div').css({'z-index':'0'}).find('span').removeClass('bg');
      $(this).parents('.divides').siblings('.divides').find('.li_div').find('ul').hide();
    });

    $('.li_div').mouseout(function(){
      $(this).css({'z-index':'0'}).find('span').removeClass('bg');
      $(this).find('ul').hide();
    });

    $('.li_div span').click(function(){
	    var spancon = $(this).text().replace(/(^\s*)|(\s*$)/g,"");
	    var vacon = $('.hope_job').val();
	    var str = vacon.split(" ");
	   
	    for(var i=0;i<str.length;i++){
	    	if(str[i] != "" && str[i] == spancon){
	    		return;;
	    	}
	    }
	    
	     if(str.length >= 3){
	       $('#techtag_msg').show();
	       $('#techtag_msg').text("最多选择三个期望职位");
	      return;
	    }else{
	       $('#techtag_msg').hide();
	       $('#techtag_msg').text("");
	    }
	    
	    if(vacon == "" || vacon == "期望职位"){
	    	vacon = spancon;
	    }else{
	    	vacon = vacon + " " + spancon;
	    }
	    $('.hope_job').val(vacon);
    });

    $('.li_div ul li').click(function(){
	    var spancon = $(this).text().replace(/(^\s*)|(\s*$)/g,"");
	    var vacon = $('.hope_job').val();
	    var str = vacon.split(" ");
	    
	    for(var i=0;i<str.length;i++){
	    	if(str[i] != "" && str[i] == spancon){
	    		return;;
	    	}
	    }
	    
	    
	    if(str.length >= 3){
	       $('#techtag_msg').show();
	       $('#techtag_msg').text("最多选择三个期望职位");
	      return;
	    }else{
	       $('#techtag_msg').hide();
	       $('#techtag_msg').text("");
	    }
	    
	    if(vacon == "" || vacon == "期望职位"){
	    	vacon = spancon;
	    }else{
	    	vacon = vacon + " " + spancon;
	    }
	    $('.hope_job').val(vacon);
    });
    
    $('.bitian_save').click(function(){
        var param = new Object();
        param.param1=$('#username').val();//姓名
        param.param2 = gender;//性别
        param.param3 = $('#sel_xueli').val();//学历
        param.param4 = $('#sel_workyears').val();//工作年限
        param.param5 = "";//期望职位
        param.param6 = $('#sel_city').val();//期望城市
        param.param7 = $('#sel_salary').val();//期望薪资
        param.param8 = $('#sel_status').val();//目前状态
        param.param9 = $('#phone').val();//手机号码
        param.param10 =$('#email').val();//邮箱
        param.param11 = $('#lingyu_cd').val();//期望领域
        
        var str = $('.hope_job').val();
        str = str.split(' ');
        for(var i=0;i<str.length;i++){
            if(str[i] != ''){
               if(param.param5 == ""){
                  param.param5 = str[i];
               }else{
                  param.param5 =param.param5 + ',' + str[i];
               }
            }
        }
        
        if(param.param6 == "其他"){
           param.param6 = $('.qita_input').val();
        }
        
        var flag = 0;
        //验证名字
        if(removeSpace(param.param1) == "" || param.param1 == "姓名"){
            $('#err_username').show();
            $('#err_username').text("请输入名字");
            var flag = 1;
        }else{
            $('#err_username').hide();
            $('#err_username').text("");
        }
        
        
        //验证性别
        if(gender == 0){
            $('#gender_msg').show();
            $('#gender_msg').text("请选择性别");
            flag = 1;
        }else{
            $('#gender_msg').hide();
            $('#gender_msg').text("");
        }
        //验证学历
        if(param.param3 == ""){
            $('#xueli_msg').show();
            $('#xueli_msg').text("请选择学历");
            flag = 1;
        }else{
            $('#xueli_msg').hide();
            $('#xueli_msg').text("");
        }
        
        //验证工作年限
        if(param.param4 == ""){
           $('#workyears_msg').show();
           $('#workyears_msg').text("请选择工作年限");
           flag = 1;
        }else{
           $('#workyears_msg').hide();
           $('#workyears_msg').text("");
        }
        
        //验证期望职位
        if(removeSpace(param.param5) == "" || param.param5 == "期望职位"){
           $('#techtag_msg').show();
           $('#techtag_msg').text("请选择期望职位");
           flag = 1;
        }else{
           $('#techtag_msg').hide();
           $('#techtag_msg').text("");
        }
        
        //期望城市
        if(removeSpace(param.param6) == "" || param.param6=="其它城市"){
           $('#location_msg').show();
           $('#location_msg').text("请选择期望城市");
           flag = 1;
        }else{
           $('#location_msg').hide();
           $('#location_msg').text("");
        }
        
        //验证薪资
        if(param.param7 == "" ){
           $('#salary_msg').show();
           $('#salary_msg').text("请选择期望薪资");
           flag = 1;
        }else{
           $('#salary_msg').hide();
           $('#salary_msg').text("");
        }
        
        //验证状态
        if(param.param8 == "" ){
           $('#state_msg').show();
           $('#state_msg').text("请选择目前状态");
           flag = 1;
        }else{
           $('#state_msg').hide();
           $('#state_msg').text("");
        }
        
        //验证手机
        if(param.param9 == "手机号码"){
           $('#phone_msg').show();
           $('#phone_msg').text("手机号码不能为空");
        }else if(telephone_ce(param.param9) == false ){
           $('#phone_msg').show();
           $('#phone_msg').text("手机" + msa);
           flag = 1;
        }else{
           $('#phone_msg').hide();
           $('#phone_msg').text("");
        }
        
        //验证邮箱
        if(emil(param.param10) == false ){
           $('#email_msg').show();
           $('#email_msg').text("邮箱" + msa);
           flag = 1;
        }else{
           $('#email_msg').hide();
           $('#email_msg').text("");
        }
        
        if(removeSpace(param.param11) == "" || param.param11 == "期望领域"){
        }else{
           $('#lingyu_msg').hide();
           $('#lingyu_msg').text("");
        }
        
        
        if(flag == 1){
          return;
        }
        
         jQuery.ajax({   
	              type: 'post',   
		          contentType : 'application/json; charset=utf-8',   
		          dataType: 'json',   
		          url: '/ajax/rone.do', 
		          data: JSON.stringify(param),   
		          success: function(date){
			          jQuery.ajax({   
			                type: 'get',   
			                contentType : 'application/json; charset=utf-8',   
			                dataType: 'json',   
			                url: '/qcode/bind', 
			                data: '',   
			                success: function(data){
			                    $(".save_window").show();
		                        $(".hsbj").show();
			                    $("#erweima").attr("src","https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket="+data.ticket);
			                }
			            });
		          },
		           error: function (data,status,e){  
	             }
	         });
    
    });
    
    $('.dowell').live('click',function(){
          if(my_tou==1){
		         if("http://www.neipin.comreg.html" == window.location.href){
		            window.location.href = "/?type=1";
		         }else if("http://www.neipin.comreg.html".indexOf('chooserole')>0){
		   	     	window.location.href="http://www.neipin.comreg.html".substring(0,"http://www.neipin.comreg.html".indexOf('chooserole'));
		   	     }else{
		   	     	window.location.href="http://www.neipin.comreg.html";
		   	     }
		   }else{
		    	window.location.href = "/?type=1";
		   }
    });


  })
  
  function tanchu(){
      tanchu_logo("profile");
  }

</script>
</head>
<body>
<div id="main">
<link href="../css/base.css?v=2.39" type="text/css" rel="stylesheet">
<link href="../css/style_qq.css?v=2.33" type="text/css" rel="stylesheet">
<script charset="utf-8" type="text/javascript" src="../js/header.js?v=1.00"></script>
<script charset="utf-8" type="text/javascript" src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js"></script>
<script>
var jianlistatustype="";
var tui_user_pro='';
var res_tuijian='';
var uname = "416148489@qq.com";
var ukbn = "0";
var isIE7 = false;
//验证标识
var verifyflg="0";
	
function logout(){
    jQuery.ajax({   
        type: 'post',   
        contentType : 'application/json; charset=utf-8',   
        dataType: 'json',   
        url: '/ajax/logout.do', 
        data: JSON.stringify(new Object()),   
        success: function(data){
            window.location.href = "/";
        }
    })
}

$(document).ready(function(){    
//底部tab切换
	$('.contact_Con .contactCon').hide();
	$('.contact_Con .contactCon').eq(0).show();
	$('.contact_tab span').click(function(){
		$(this).addClass('active');
		$(this).siblings().removeClass('active');
		$('.contact_Con .contactCon').hide();
		$('.contact_Con .contactCon').eq($(this).index()).show();
		
	})

//判断是否为ie6
    var isIE=!!window.ActiveXObject;
    var isIE6=isIE&&!window.XMLHttpRequest;
    var isIE8=isIE&&!!document.documentMode;
    var isIE7=isIE&&!isIE6&&!isIE8;
    if (isIE){
        isIE7 = true;
        if (isIE6){
    			$('.bsie').show();
    		}
    }
    $('.closeBtn').click(function(){
    $('.a_box').hide();
    })
  
//底部二维码
	$('.about_Us span.ma_img').mouseover(function(){
	$(this).find('img').show();
	})
	$('.about_Us span.ma_img').mouseout(function(){
	$(this).find('img').hide();
	})
	//点击登录
	$('#login_click').live("click",function(){
		my_login();
	});
	
	if(ukbn==1){
		getSelectHrJobJianLi();
	}
	//点击导航的登录 
	$('#dl_span').live("click",function(){
		window.location.href='login.html.html';
	});
	
	// 账号的回车事件
	$('#myusername').keydown(function(event){
		if(13 == event.keyCode || 13 == event.which){
			my_login();
		}
	});
	
	//密码的回车事件
	$('#mypassword').keydown(function(event){
		if(13 == event.keyCode || 13 == event.which){
			my_login();
		}
	});
	
	// 搜索职位的回车事件 
	$('#my_job_form').keydown(function(event){
		if(13 == event.keyCode || 13 == event.which){
			headtijiao();
		}
	});
	

	//登录框隐藏与显示
	//$('.dl_hide').hide();
	$('.pos_dl'). mouseenter(function(){
	  $('.dl_hide').show();
	});
	$('.pos_dl').mouseleave(function(){
	  $('.dl_hide').hide();
	});

	//鼠标滑过2维码显示
	$('.wx_pos').mouseover(function(){
		$(this).find('img').show();
	})

	$('.wx_pos').mouseleave(function(){
		$(this).find('img').hide();
	})	
	if(uname!=""&&uname!=null){
		// 调用此方法 
		getSelectProfileJobJianLi();
	}
	
	// 事件关闭
      $('.event_top span').click(function(){
        $(this).parent().slideUp();
      })       
      
      $('.event_top').click(function(){
          window.open("/act");
      })
	
	
	
	if(uname != "" && uname != null && ukbn == 1){
	    getHrNewJianliNum();
	}
	
});

// 查询职位方法 
function headtijiao(){
	var xinkeywd = encodeURIComponent($("#my_job_form").val());
	window.location.href='/job/?mkwd='+xinkeywd;
}
//查询职位方法结束 

// 登录方法 
function my_login(){
	$("#herders_cuowu").hide();
	var param = new Object();
	param.emailAddr = $("#myusername").val();
	param.passwd = $("#mypassword").val();
	if(param.emailAddr == "")
        {
            $("#herders_cuowu").html("请填写用户名");
            $("#herders_cuowu").show();
            return;
        }
	if(param.passwd == "")
        {
            $("#herders_cuowu").html("请填写密码");
            $("#herders_cuowu").show();
            return;
        }
        
	jQuery.ajax({   
		type: 'post',   
		contentType : 'application/json; charset=utf-8',   
		dataType: 'json',   
		url: '/ajax/login.do', 
		data: JSON.stringify(param),   
		success: function(data){
			if(data.ret == "0")
				{
					if(data.ukbn==1){
                      	//window.location.href = "/hr/";
                      	window.location.href = "/job.html";
                      } else{
                      	window.location.href = "/job.html";
                      }
				}
                else if(data.ret == -1)
                {
                        $("#herders_cuowu").html("用户不存在或密码错误");
                        $("#herders_cuowu").show();
                }
                else
                {
                        $("#herders_cuowu").html("登录失败，请稍候重试");
                        $("#herders_cuowu").show();
                }
        }
	});
};
//查询普通用户没有回复hr面试通知的数量
function getSelectProfileJobJianLi(){
	var param = new Object();
	var total = 0;
	jQuery.ajax({   
		type: 'post',   
		contentType : 'application/json; charset=utf-8',   
		dataType: 'json',   
		url: '/ajax/getSelectProfileJobJianLi.do', 
		data: JSON.stringify(param),   
		success: function(data){
			if(data.np.number0>0)
			{
			    total = total + data.np.number0;
				//$("#profile_jianli_number").text(data.np.number0);
				//$("#profile_jianli_number").show();
				$("#profile_jianli_number2").text(data.np.number0);
				$("#profile_jianli_number2").show();
			}
			if(jianlistatustype==0){
				if(data.np.number1>0)
				{
					$("#profile_jianli_number_1").text(data.np.number1);
					$("#profile_jianli_number_1").show();
				}
				if(data.np.number2>0)
				{
					$("#profile_jianli_number_2").text(data.np.number2);
					$("#profile_jianli_number_2").show();
				}
				if(data.np.number3>0)
				{
					$("#profile_jianli_number_3").text(data.np.number3);
					$("#profile_jianli_number_3").show();
				}
				
			}
			if(jianlistatustype==1){
				if(data.np.number3>0)
				{
					$("#profile_jianli_number_1").text(data.np.number4);
					$("#profile_jianli_number_1").show();
				}
				if(data.np.number4>0)
				{
					$("#profile_jianli_number_2").text(data.np.number5);
					$("#profile_jianli_number_2").show();
				}
				if(data.np.number5>0)
				{
					$("#profile_jianli_number_3").text(data.np.number6);
					$("#profile_jianli_number_3").show();
				}
				
			}
			var jk=parseInt(data.np.number1)+parseInt(data.np.number2)+parseInt(data.np.number3);
			var jk1=parseInt(data.np.number4)+parseInt(data.np.number5)+parseInt(data.np.number6);
			if(jk>0)
			{
					$("#profile_jianli_number_4").text(jk);
					$("#profile_jianli_number_4").show();
			}
			if(jk1>0)
			{
					$("#profile_jianli_number_5").text(jk1);
					$("#profile_jianli_number_5").show();
			}
			total = total + jk + jk1;
			if(total > 0)
			{
			    $("#jianli_status").append('<em>'+total+'</em>');
			}
        }
	});
};

//查询hr没有回复数量 
function getSelectHrJobJianLi(){
	jQuery.ajax({   
		type: 'post',   
		contentType : 'application/json; charset=utf-8',   
		dataType: 'json',   
		url: '/ajax/getSelectHrJobJianLi.do', 
		data: JSON.stringify(new Object()),   
		success: function(data){
			if(data.np.number1>0){
				$("#hr_mei_jianli").append("<em>"+data.np.number1+"</em>");
				$("#shou").append("<em>"+data.np.number1+"</em>");
			}
			if(data.np.number2>0){
				$("#hr_tong_jianli").append("<em>"+data.np.number2+"</em>");
			}
        }
	});	
};

//查询Hr新简历数
function getHrNewJianliNum(){
		jQuery.ajax({ 
		     type: 'post',   
				contentType : 'application/json; charset=utf-8',   
				dataType: 'json',   
				url: '/ajax/newnum.do', 
				data: JSON.stringify(new Object()),   
				success: function(data){
				   if(data.newnum > 0){
				      $('.num').show();
				      $('.num').text(data.newnum);
				   }else{
				      $('.num').hide();
				   }
				}
		});
}

//登录结束 
</script>
<div style="width:100%; height:50px; line-height:50px; font-size:18px; color:#b94a48; background:#f2dede; text-align:center;" class="bsie">
	<span>本系统可能有些功能不支持IE6，请用更高版本或其他的浏览器</span>
</div>
<!-- 头部 -->
<!--<div class="event_top">-->
	<!--<div class="event_center"></div>-->
<!--</div>	-->
<div class="header">
    <div class="header_con">
    <div class="logo-con">
        <a title="" href="http://www.neipin.comindex.html"><img alt="内聘网-专注人才精准推荐的移动互联网招聘网站" src="../images/logo.png"></a>
    </div>
    <img alt="专注互联网人才精准推荐" style="float:left; margin-top:26px; margin-left:10px;" src="../images/slogn.png?v=20150505.18">
    <ul class="nav_ul">
      <li id="index"><a class="home" title="内聘网" href="index.html">首页</a></li>
      <li id="joblist"><a class="job_list" title="" href="joblist.html" rel="nofollow">职位列表</a></li>
      <li id="myapply"><a class="my_apply" title="" href="my_apply.html" rel="nofollow">投递记录</a></li>
      <i></i>
      </li>
      <li id="shou"><a class="my_resume" title="" href="resume.html" rel="nofollow">我的简历</a></li></ul>
    <div class="right search_dl">
        <div class="ksnvas">
          <div class="yonghuming">
           <a class="user_names" title="" href="javascript:void(0)">416148489@qq.com</a>
           <!--<i></i>-->
          </div>
          <ul class="user_names_con" style="display: none;">
           
            <li><a href="member_pwd.html" title="">账号设置</a></li>
            <li class="quit"><a href="javascript:logout();" title="">退出</a></li>
          </ul>
        </div>
        <!--<div class='forms'>
            <input name="kwd" type="text" id="my_job_form" class="sou_bor" placeholder='搜工作，淘人才'/>
        </div>-->
        <!--<wb:follow-button uid="2930367021" type="gray_1" width="67" height="24"  style="float:right; margin-top:48px; margin-right:10px;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
-moz-opacity:0.5; /*Firefox私有，透明度50%*/
opacity:0.5;/*其他，透明度50%*/"></wb:follow-button>-->
    </div>
    </div>
</div>
<div style="display:none" class="tishi">
        <span id="tishi_msg"></span>
        <div style="top:5px; right:5px;" class="close_X">X</div>
</div>
<div class="hsbj"></div>
<div style="display:none;" class="whitebg"></div>

<!--这是加载AJAX的动态转图-->
	<div style="left:50%; float:left; position:fixed; top:50%; z-index:100009; display:none;" id="home_loading">
		<img src="../images/anim_loading_75x75.gif">
	</div>
    <div style="padding-bottom:256px;" class="containter">
      <div class="myCard">
        <div class="mycard_title"><div class="item_title"><em></em><span>基本信息</span></div></div>
        <div class="myCard_con">
          <div class="myCard_cons">
            <div class="edit_list">
              <em>*</em>
              <input type="text" style="width:122px;" placeholder="姓名" id="username">
              <div style="margin-left:0px;" class="sex_choose_edit">
                <span sex="1">男</span>
                <span sex="2">女</span>
              </div>
            </div>
            <div class="mis_alert" id="err_username">错误提示</div>
            <div id="gender_msg" class="mis_alert">错误提示</div>
            <div class="edit_list">
              <em>*</em>
              <div class="seles seles_xl">
                <span id="work_time" class="seles_choose">工作年限</span>
                <ul class="seles_hide">
                    <li v="0">应届生</li>               
                    <li v="1">1年</li>
                    <li v="2">2年</li>               
                    <li v="3">3年</li>
                    <li v="4">4年</li>
                    <li v="5">5年</li>
                    <li v="6">6年</li>
                    <li v="7">7年</li>
                    <li v="8">8年</li>
                    <li v="9">9年</li>
                    <li v="10">10年以上</li>
                </ul>
                <input type="hidden" class="input_hide" value="" id="sel_workyears">
              </div>  
            </div>
            <div id="workyears_msg" class="mis_alert">错误提示</div>
            <div class="edit_list">
              <em>*</em>
              <div class="seles seles_xl">
                <span class=" seles_xiala lala">
                  <input type="hidden" value="" id="qw_pos">
                  <input type="text" value="" class="hope_job lala" placeholder="期望职位">
                  <div class="labels_con lala">
                    <div class="divides">
                      <span class="left left_item">技术：</span>
                      <div class="ul_div">
                        <div class="li_div">
                          <span>前端开发</span>
                          <ul>
                            <li>web前端</li>
                            <li>Flash</li>
                            <li>html5</li>
                            <li>JavaScript</li>
                            <li>U3D</li>
                            <li>COCOS2D-X</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>后端开发</span>
                          <ul>
                            <li>Java</li>
                            <li>C++</li>
                            <li>PHP</li>
                            <li>数据挖掘</li>
                            <li>C</li>
                            <li>C#</li>
                            <li>.NET</li>
                            <li>Hadoop</li>
                            <li>Python</li>
                            <li>Delphi</li>
                            <li>VB</li>
                            <li>Perl</li>
                            <li>Ruby</li>
                            <li>Node.js</li>
                            <li>自然语言处理</li>
                            <li>搜索算法</li>
                            <li>精准推荐</li>
                            <li>全栈工程师</li>
                            <li>Go</li>
                            <li>ASP</li>
                            <li>Shell</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>移动开发</span>
                          <ul>
                            <li>HTML5</li>
                            <li>Android</li>
                            <li>iOS</li>
                            <li>WP</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>测试</span>
                          <ul>
                            <li>测试工程师</li>
                            <li>自动化测试</li>
                            <li>功能测试</li>
                            <li>性能测试</li>
                            <li>测试开发</li>
                            <li>游戏测试</li>
                            <li>白盒测试</li>
                            <li>灰盒测试</li>
                            <li>黑盒测试</li>
                            <li>手机测试</li>
                            <li>硬件测试</li>
                            <li>测试经理</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>运维</span>
                          <ul>
                            <li>运维工程师</li>
                            <li>运维开发工程师</li>
                            <li>网络工程师</li>
                            <li>系统工程师</li>
                            <li>IT支持</li>
                            <li>IDC</li>
                            <li>CDN</li>
                            <li>F5</li>
                            <li>系统管理员</li>
                            <li>病毒分析</li>
                            <li>WEB安全</li>
                            <li>网络安全</li>
                            <li>系统安全</li>
                            <li>运维经理</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>DBA</span>
                          <ul>
                            <li>MySQL</li>
                            <li>SQLServer</li>
                            <li>Oracle</li>
                            <li>DB2</li>
                            <li>MongoDB</li>
                            <li>ETL</li>
                            <li>Hive</li>
                            <li>数据仓库</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>项目管理</span>
                          <ul>
                            <li>项目经理</li>
                            <li>项目助理</li>
                          </ul>
                        </div>
                        <div style="width:125px;" class="li_div">
                          <span style="width:120px;">高端技术职位</span>
                          <ul>
                            <li>技术经理</li>
                            <li>技术总监</li>
                            <li>测试经理</li>
                            <li>架构师</li>
                            <li>CTO</li>
                            <li>运维总监</li>
                            <li>技术合伙人</li>
                            <li>项目总监</li>
                            <li>测试总监</li>
                            <li>安全专家</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>企业软件</span>
                          <ul>
                            <li>实施工程师</li>
                            <li>售前工程师</li>
                            <li>售后工程师</li>
                            <li>BI工程师</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="divides">
                      <span class="left left_item">产品：</span>
                      <div class="ul_div">
                        <div class="li_div">
                          <span>产品经理</span>
                          <ul>
                            <li>产品经理</li>
                            <li>网页产品经理</li>
                            <li>移动产品经理</li>
                            <li>产品助理</li>
                            <li>数据产品经理</li>
                            <li>电商产品经理</li>
                            <li>游戏策划</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>产品设计师</span>
                          <ul>
                            <li>网页产品设计师</li>
                            <li>无线产品设计师</li>
                          </ul>
                        </div>
                        <div style="width:125px;" class="li_div">
                          <span style="width:120px;">高端产品职位</span>
                          <ul>
                            <li>产品部经理</li>
                            <li>产品总监</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="divides">
                      <span class="left left_item">设计：</span>
                      <div class="ul_div">
                        <div class="li_div">
                          <span>视觉设计</span>
                          <ul>
                            <li>视觉设计师</li>
                            <li>网页设计师</li>
                            <li>Flash设计师</li>
                            <li>APP设计师</li>
                            <li>UI设计师</li>
                            <li>平面设计师</li>
                            <li>美术设计师（2D/3D）</li>
                            <li>广告设计师</li>
                            <li>多媒体设计师</li>
                            <li>原画师</li>
                            <li>游戏特效</li>
                            <li>游戏界面设计师</li>
                            <li>游戏场景</li>
                            <li>游戏角色</li>
                            <li>游戏动作</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>交互设计</span>
                          <ul>
                            <li>交互设计师</li>
                            <li>无线交互设计师</li>
                            <li>网页交互设计师</li>
                            <li>硬件交互设计师</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>用户研究</span>
                          <ul>
                            <li>数据分析师</li>
                            <li>用户研究员</li>
                            <li>游戏数值策划</li>
                          </ul>
                        </div>
                        <div style="width:125px;" class="li_div">
                          <span style="width:120px;">高端设计职位</span>
                          <ul>
                            <li>设计经理/主管</li>
                            <li>设计总监</li>
                            <li>视觉设计经理/主管</li>
                            <li>视觉设计总监</li>
                            <li>交互设计经理/主管</li>
                            <li>交互设计总监</li>
                            <li>用户研究经理/主管</li>
                            <li>用户研究总监</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="divides">
                      <span class="left left_item">运营：</span>
                      <div class="ul_div">
                        <div class="li_div">
                            <span>运营</span>
                            <ul>
                              <li>用户运营</li>
                          <li>产品运营</li>
                          <li>数据运营</li>
                          <li>内容运营</li>
                          <li>活动运营</li>
                          <li>商家运营</li>
                          <li>品类运营</li>
                          <li>游戏运营</li>
                          <li>网络推广</li>
                          <li>运营专员</li>
                          <li>网店运营</li>
                          <li>新媒体运营</li>
                          <li>海外运营</li>
                          <li>运营经理</li>
                            </ul>
                        </div>
                        <div class="li_div">
                            <span>编辑</span>
                            <ul>
                              <li>副主编</li>
                          <li>内容编辑</li>
                          <li>文案策划</li>
                          <li>记者</li>
                            </ul>
                        </div>
                        <div class="li_div">
                            <span>客服</span>
                            <ul>
                              <li>售前咨询</li>
                          <li>售后客服</li>
                          <li>淘宝客服</li>
                          <li>客服经理</li>
                            </ul>
                        </div>
                        <div style="width:125px;" class="li_div">
                          <span style="width:120px;">高端运营职位</span>
                          <ul>
                            <li>主编</li>
                            <li>运营总监</li>
                            <li>COO</li>
                        <li>客服总监</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="divides">
                      <span class="left left_item">市场：</span>
                      <div class="ul_div">
                        <div class="li_div">
                          <span>市场/营销</span>
                          <ul>
                            <li>市场营销</li>
                            <li>市场策划</li>
                            <li>市场顾问</li>
                            <li>市场推广</li>
                            <li>SEO</li>
                            <li>SEM</li>
                            <li>商务渠道</li>
                            <li>商业数据分析</li>
                            <li>活动策划</li>
                            <li>网络营销</li>
                            <li>海外市场</li>
                            <li>政府关系</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>公关</span>
                          <ul>
                            <li>媒介经理</li>
                            <li>广告协调</li>
                            <li>品牌公关</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>销售</span>
                          <ul>
                            <li>销售专员</li>
                            <li>销售经理</li>
                            <li>客户代表</li>
                            <li>大客户代表</li>
                            <li>BD经理</li>
                            <li>商务渠道</li>
                            <li>渠道销售</li>
                            <li>代理商销售</li>
                            <li>销售助理</li>
                            <li>电话销售</li>
                            <li>销售顾问</li>
                            <li>商品经理</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>供应链</span>
                          <ul class="pos_right">
                            <li>物流</li>
                            <li>仓储</li>
                          </ul>
                        </div>
                        <div class="li_div">
                            <span>采购</span>
                            <ul>
                                <li>采购专员</li>
                                <li>采购经理</li>
                                <li>商品经理</li>
                            </ul>
                        </div>
                        <div class="li_div">
                            <span>投资</span>
                            <ul>
                                <li>投资分析师</li>
                                <li>投资顾问</li>
                                <li>投资经理</li>
                            </ul>
                        </div>
                        <div style="width:125px;" class="li_div">
                          <span style="width:120px;">高端市场职位</span>
                          <ul>
                            <li>市场总监</li>
                            <li>销售总监</li>
                            <li>商务总监</li>
                            <li>CMO</li>
                            <li>公关总监</li>
                            <li>投资总监</li>
                            <li>采购总监</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="divides">
                      <span class="left left_item">职能：</span>
                      <div class="ul_div">
                        <div class="li_div">
                          <span>人力资源</span>
                          <ul>
                            <li>人事专员</li>
                            <li>招聘经理</li>
                            <li>HRBP</li>
                            <li>人事/HR</li>
                            <li>培训经理</li>
                            <li>薪资福利经理</li>
                            <li>绩效考核经理</li>
                            <li>员工关系</li>
                            <li>人事主管</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>行政</span>
                          <ul>
                            <li>助理</li>
                            <li>前台</li>
                            <li>行政</li>
                            <li>总经理助理</li>
                            <li>文秘</li>
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>财务</span>
                          <ul class="pos_right">
                            <li>会计</li>
                            <li>出纳</li>
                            <li>资金</li>
                            <li>财务</li>
                            <li>结算</li>
                            <li>税务</li>
                            <li>审计</li>
                            <li>风控</li>
                          </ul>
                        </div>
                        <div style="width:125px;" class="li_div">
                          <span style="width:120px;">高端职能职位</span>
                          <ul class="pos_rights">
                            <li>行政总监/经理</li>
                            <li>财务总监/经理</li>
                            <li>HRD/HRM</li>
                            <li>CFO</li>                          
                          </ul>
                        </div>
                        <div class="li_div">
                          <span>法务</span>
                          <ul>
                            <li>法务专员</li>
                            <li>律师</li>
                            <li>专利</li>
                            <li>法务经理</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </span>
              </div>
            </div>
            <div id="techtag_msg" class="mis_alert">错误提示</div>
            <div style="position:relative; z-index:8;" class="edit_list">
              <em>*</em>
              <div class="seles seles_xl">
                <span class="seles_choose">期望城市</span>
                <ul class="seles_hide seles_hide_city">
                  <li v="北京">北京</li> 
                  <li v="上海">上海</li> 
                  <li v="深圳">深圳</li> 
                  <li v="广州">广州</li> 
                  <li v="杭州">杭州</li> 
                  <li v="天津">天津</li> 
                  <li v="成都">成都</li> 
                  <li v="西安">西安</li> 
                  <li v="重庆">重庆</li> 
                  <li v="南京">南京</li> 
                  <li v="沈阳">沈阳</li>                 
                  <li v="武汉">武汉</li>                 
                  <li v="郑州">郑州</li>                 
                  <li v="大连">大连</li>                 
                  <li v="济南">济南</li>                 
                  <li class="eee lala" v="其他">其他</li>                 
                </ul>       
                <input type="hidden" class="input_hide" value="" name="" id="sel_city">
              </div>
              <input type="text" style="display:none; width:209px; left:9px;" class="qita_input lala" placeholder="其他城市" value="" name="">
            </div>
            <div id="location_msg" class="mis_alert">错误提示</div>
            <div class="edit_list">
              <em>*</em>
              <input type="text" value="" placeholder="手机号码" id="phone">
            </div>
            <div id="phone_msg" class="mis_alert">错误提示</div>
          </div>
          <div class="myCard_cons">
            <div class="edit_list">
              <em>*</em>
              <div class="seles seles_xl">
                <span id="work_time" class="seles_choose">学历</span>
                <ul class="seles_hide">
                  <li v="1">大专以下</li>               
                  <li v="2">大专</li>
                  <li v="3">本科</li>               
                  <li v="4">硕士</li>
                  <li v="5">博士</li>
                </ul>
                <input type="hidden" class="input_hide" value="" name="" id="sel_xueli">
              </div>
            </div>
            <div id="xueli_msg" class="mis_alert">错误提示</div>
            <div class="edit_list">
              <em>*</em>
              <div class="seles seles_xl"><!-- selesjob_state -->
                <span class="seles_choose">目前状态</span>
                <ul class="seles_hide">
                  <li v="1">目前在职，想换个新环境</li> 
                  <li v="2">目前已离职，可快速到岗</li> 
                  <li v="4">暂时不想找工作</li>                     
                </ul>       
                <input type="hidden" class="input_hide" value="" name="" id="sel_status">
              </div>
            </div>
            <div id="state_msg" class="mis_alert">错误提示</div>
            <div class="edit_list">
              <em>*</em>
              <div class="seles seles_xl">
                <span class="seles_choose">期望薪资</span>
                <ul class="seles_hide">
                  <li v="1">4K以下</li> 
                  <li v="2">4K-6K</li> 
                  <li v="3">6K-8K</li> 
                  <li v="4">8K-10K</li> 
                  <li v="5">10K-15K</li> 
                  <li v="6">15K-20K</li> 
                  <li v="7">20K-30K</li> 
                  <li v="8">30K以上</li>
                </ul>       
                <input type="hidden" class="input_hide" value="" name="" id="sel_salary">
              </div>
            </div>
            <div id="salary_msg" class="mis_alert">错误提示</div>
            <div class="edit_list">
              <em></em>
              <div class="seles seles_xl">
                <span style="position:relative; z-index:11;" class="seles_choose seles_xiala lala">
                  <div id="lingyu" class="lala lingyu_shuru">期望领域</div>
                  <div style="width:420px;" class="labels_con lala">
                    <div class="lingyu1 lingyu">
                      <div class="gaga" id="7">O2O</div>
                      <div class="gaga" id="9">社交</div>
                      <div class="gaga" id="12">服务</div>
                      <div class="gaga" id="2">游戏</div>
                      <div class="gaga" id="18">硬件</div>
                      <div class="gaga" id="21">搜索</div>
                      <div class="gaga" id="25">安全</div>
                      <div class="gaga" id="26">媒体</div>
                    </div>
                    <div class="lingyu2 lingyu">
                       <div class="gaga" id="6">电子商务</div>
                       <div class="gaga" id="10">企业服务</div>
                       <div class="gaga" id="13">文化艺术</div>
                       <div class="gaga" id="4">在线旅游</div>
                       <div class="gaga" id="19">健康医疗</div>
                       <div class="gaga" id="22">生活服务</div>
                    </div>
                    <div class="lingyu2 lingyu">
                       <div class="gaga" id="5">在线教育</div>
                       <div class="gaga" id="11">移动广告</div>
                       <div class="gaga" id="14">智能家居</div>
                       <div class="gaga" id="16">智能电视</div>
                       <div class="gaga" id="20">分类信息</div>
                       <div class="gaga" id="23">在线招聘</div>
                    </div>
                    <div class="lingyu3 lingyu">
                       <div class="gaga" id="8">移动互联网</div>
                       <div class="gaga" id="1">互联网金融</div>
                       <div class="gaga" id="15">社会化营销</div>
                       <div class="gaga" id="17">视频多媒体</div>
                       <div class="gaga" id="3">可穿戴设备</div>
                       <div class="gaga" id="24">云计算/大数据</div>
                    </div>
                    <input type="hidden" value="" class="input_hide" id="lingyu_cd">
                  </div>
                </span>
              </div>
            </div>
            <div id="lingyu_msg" class="mis_alert">错误提示</div>
            <div class="edit_list">
              <em>*</em>
              <input type="text" value="416148489@qq.com" placeholder="您接收面试通知的邮箱" id="email">
            </div>
            <div id="email_msg" class="mis_alert">错误提示</div>
          </div>
          <div class="sc_image">
            <div onclick="tanchu()" id="tanchu_logo">
              <img alt="" onerror="javascript:this.src='images/1.gif'" src="../images/1.gif" id="userlogo">
              <!-- <input type="hidden" id="photo_name" value="1"> -->
            </div>
            <div class="please">请上传个人头像</div>
            <ul>
              <li>尺寸:160*160px</li>
              <li>大小：小于3M</li>
            </ul>
          </div>
          <div style="width:560px; overflow:hidden; text-align:center; float:left;"><a class="bitian_save" href="javascript:void(0);">保存</a></div>
        </div>
      </div>      
    </div>
    <div class="build_card">
      <div class="mycard_title"><div class="item_title"><em></em><span>我的名片</span></div></div>
      <div class="card_Con">
        <img class="right" alt="" src="../images/number3.png">
        <div class="line_name"><span class="name">趣多多</span><span class="pos">UI设计师</span></div>
        <div class="build_list"><div>男</div><span>|</span><div>本科</div><span>|</span><div>3年工作经验</div></div>
        <div class="build_list"><div>10k</div><span>|</span><div>北京</div><span>|</span><div>目前在职，想换个新环境</div></div>
        <div class="build_list"><div>12345678985</div><span>|</span><div>quduoduo@163.com</div></div>
        <div class="continue"><a class="continue_go" href="404.html">继续浏览职位</a><a class="continue_suitable" href="404.html">适合我的职位</a></div>
      </div>
    </div>
    <div class="tanchu_logo"><div class="tanchu_logo_li">
	<div class="standard_div_02 standard_line_height55">上传图片</div>
	<div class="close_btn"></div>
</div>
<div style="margin-top: 20px;">
	<div style="margin-left: 25px;" class="standard_margin_top10">
	  	<a onclick="document.getElementById('fileToUpload').click();" title="" href="javascript:void(0);" class="standard_a_01 standard_a_02">本地上传</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="margin-left: 35px;" class="bdsc_bri">支持JPG、GIF、PNG格式的图片，文件小于3M</div>
	    <input type="file" accept="image/*" onchange="selectImage();" style="visibility:hidden;" size="10" name="fileToUpload" id="fileToUpload">
  	</div>
  	<span style="color:red" id="tixing"></span>    
</div>
<div class="jietuqu tstandard_float" style="margin-left: 25px;">
	<div class="images_left left">
		<img alt="" src="../images/d_default.png?v=20150604" id="photo">
	</div>
	<div style="margin-right:25px;" class="images_right right">
		<img alt="" src="../images/x_default.png?v=20150604">
	</div>
</div>
<div style="margin-bottom: 30px; overflow: hidden; " class="tstandard_float standard_margin_top10">
	<a style="margin-left:25px;" title="" onclick="getImage()" class="standard_a_01" href="javascript:void(0);">保存</a>
	<a title="" onclick="getImage1()" class="standard_a_01 standard_a_01_qx standard_margin_left15" href="javascript:void(0);">取消</a>
</div>
</div>
    <input type="hidden" value="" id="photo_name">
<div class="footer">
    <div class="footer_con">
        <div class="footer_top">
            <div class="about_Us">
                <div class="contact_left">
                    <div>400-626-3578</div> 
                    <p>（周一至周五：09：30-18:30）</p>
                </div>
                <div class="contact_right">
                    <div class="foot_list">
                        <span class="about_left"><a title="网站地图" href="/map.html">网站地图</a></span>
                        <span class="about_left"><a title="关于内聘网" href="about.html" rel="nofollow">关于我们</a></span>
                        <span class="about_left"><a title="" href="http://weibo.com/neipin2013" target="_blank" rel="nofollow">微博</a></span>
                        <span class="about_left wx_pos">
                            <a title="" href="javascript:void(0)">微信服务号</a>
                            <img src="../images/ma_service.png?v=20150416">
                        </span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <p class="seap">京ICP备14004482号-1 版权所有 2013 &copy;内聘网</p>
</div>


<!--<div class="a_box">
    <a href="http://qixi.neipin.com/index.html" title="七夕送甜蜜活动" class="activity_icon"></a>
    <span class='closeBtn'></span>
</div>-->
    <div style="display:none;" class="save_window">
      <div class="save_window_til"></div>
      <div class="save_window_yes sao_part">       
        <dl>
          <dt><img class="ma" src="" id="erweima"></dt>
          <dd>微信扫一扫</dd>
          <dd>投递反馈早知道</dd>
        </dl>
        <div class="sucess_then">
          <a class="dowell" href="javascript:void(0);">完成</a>
        </div>
      </div>
    </div>


</div></body></html>