<div class="footer">
    <div class="footer_con">
        <div class="footer_top">
            <div class="about_Us">
                <div class="contact_left">
                    <div>400-626-3578</div>
                    <p>（周一至周五：09：30-18:30）</p>
                </div>
                <div class="contact_right">
                    <div class="foot_list">
                        <span class="about_left"><a title="网站地图" href="/map.html">网站地图</a></span>
                        <span class="about_left"><a title="关于内聘网" href="about.html" rel="nofollow">关于我们</a></span>
                        <span class="about_left"><a title="" href="http://weibo.com/neipin2013" target="_blank"
                                                    rel="nofollow">微博</a></span>
                        <span class="about_left wx_pos">
                            <a title="" href="javascript:void(0)">微信服务号</a>
                            <img src="../images/ma_service.png?v=20150416">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="seap">京ICP备14004482号-1 版权所有 2013 &copy;内聘网</p>
</div>