<html xmlns="http://www.w3.org/1999/xhtml" class="hb-loaded"><head>
<link href="../images/favico.ico" rel="shortcut icon">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>手机找回密码第一步</title>
<link href="../css/base.css?v=2.39" type="text/css" rel="stylesheet">
<link href="../css/sub.css?v=2.33" type="text/css" rel="stylesheet">
<link href="../css/seekp.css?v=2.32" type="text/css" rel="stylesheet">
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/constants.js?v=2.32"></script>
<script type="text/javascript" src="../js/forgetpassword.js?v=2.32"></script>
</head>
<body>
	<div class="header">
		<div class="header_con">
			<div class="logo-con">
				<a href="index.html"><img alt="" src="../images/logo.png"></a>
			</div>
			<span style="line-height:70px; font-size:30px; color:#050505; padding:5px 25px; border-left:1px solid #000; margin-left:15px;">找回密码</span>
		</div>
	</div>
    <div class="seekpassword">
	    <div class="mima_center">
	        <div class="mima_img">
	        	<img alt="" src="../images/stp1.png">
	        </div>
	      	<ul>
		      	<li>输入注册号码</li>
		      	<li>验证身份</li>
		      	<li>重置密码</li>
		      	<li>修改成功</li>
		    </ul>	      	      
	    </div>
	    <div class="tabcons">
	    	<div class="tab_title">
		      	<span class="phoneget active">通过注册手机找回密码</span>
		      	<span class="emailget">通过注册邮箱找回密码</span>
		     </div>
	        <div class="find_password_submit find_password_bg">
	        	<div class="message" style="position:absolute; z-index:1; top:25px; left:180px; font-size:18px;"></div>
	        	<div class="stepOne">
		        	<div class="seek_for">
		        		<span style="width:92px; text-align:right;">手机号码：</span>
			        	<input type="text" class="input_zhmm phone" placeholder="请输入注册时使用的手机号码" value="">
			        	<p id="password_tishi" style="display:none" class="p_password_tishi phone_tishi">手机号码错误</p>
			    	</div>		    	
			        <div class="zh_password">
			          <button id="sendtma" type="button">发送短信验证</button>
			        </div>
			    </div>
			    <div class="stepTwo">
			    	<div class="seek_for">
		        		<span style="width:92px; text-align:right;">验证码：</span>
			        	<input type="text" style="width:175px;" class="input_zhmm yzm" placeholder="请输入验证码" value="">
			        	<p id="password_tishi" style="display:none" class="p_password_tishi yzm_tishi">请输入验证码</p>
			        	<div class="send_2wma"><span></span><em>重新发送验证码</em></div>
			    	</div>
			    	<div class="zh_password">
			          <button id="submit" type="button">提交</button>
			        </div>
			    </div>
	        </div>
        </div>
	</div>


</body></html>