<html xmlns="http://www.w3.org/1999/xhtml" class="hb-loaded"><head>
<link href="../images/favico.ico" rel="shortcut icon">
<meta content="IE=EmulateIE9" http-equiv="X-UA-Compatible">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>注册</title>
<link href="../css/pub.css?v=2.34" type="text/css" rel="stylesheet">
<link href="../css/sub.css?v=2.39" type="text/css" rel="stylesheet">
<script src="../js/hm.js?e57ac2e0d645c16f50e241abc140f59f"></script><script src="../js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="../js/json2.js" type="text/javascript"></script>
<script src="../js/placeholder.js?v=2.32" type="text/javascript"></script>
<script src="../js/constants.js?v=2.32" type="text/javascript"></script>
<script src="../js/common.js?v=2.34" type="text/javascript"></script>
<script type="text/javascript">
	var my_tou="1";
	var ukbn = "1";
	var password_flag = 1;//0 明文显示密码  1 隐藏显示密码
	var my_tou="1";
	var regist_flag = 0;
</script>
<script src="../js/regist.js?v=2.35" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    // $('.denglu_pages_left input').click(function(){
    //    $(this).css({"border":"1px solid #cddf53"});
    // })
    // $('.denglu_pages_left input').blur(function(){
    //   $(this).css({"border":"1px solid #EBE8E8"});
    // })
    
    $('.shibie').click(function(event) {  
        var e=window.event || event;
        if(e.stopPropagation){
         e.stopPropagation();
        }else{
         e.cancelBubble = true;
        }        
         $('.imgHide').show();
    });
    $('.imgHide').click(function(event) {
       var e=window.event || event;
    if(e.stopPropagation){
         e.stopPropagation();
      }else{
         e.cancelBubble = true;
      }
    });
    document.onclick = function(){
      $(".imgHide").hide();
    };

  // 重新获取短信验证码
  $('.cuocuo a.sms_repeat').live('click',function(){
    $('.send_yzm').click();
  })

})
function SetFocus() {
    document.getElementById('tbUserName').focus();
}
function checkEnter(event) {
  if (event.keyCode == 13) {
    if (document.getElementById("tbPassword").value == '') {
       document.getElementById("tbPassword").focus();
       return false;
    }
  }
         return true;
}     
</script>
<style>
  body{
  background:#242d3c url(../images/loginBg.png) center center no-repeat;
}
.denglu_pages{ padding-top: 70px;}
</style>
</head>
<body>
  <div class="body_center">
    <div class="logo_con">
      <div class="logo_conCenter">
        <a href="index.html"><img alt="" src="../images/logo.png"></a>
        <span>注册</span>
      </div>
    </div>
    <div class="denglu_pages">
      <div class="denglu_pages_left left">
        <div class="emil_alert">
          <span>◆</span>
          <div>亲，请填写企业邮箱喔，目前主流企业邮箱服务商腾讯、网易等都提供免费版企业邮箱服务~如仍有问题，请联系客服：010-53518091</div>
        </div>
        <form accept-charset="utf-8">
          <div class="have_phone">
            <div class=" phone_text">
              <div class="form_dv">
                <span>邮箱：</span>
                <input type="text" onkeydown="enterregist()" placeholder="请填写邮箱" value="" name="" class="number bsie7 emil_hrResist">
                <em style="display:none;" class="yes"></em>
              </div>
            </div>
            <div class="baocuo error_msg_1"></div>
            <div class="form_dv form_pos">
              <span>密码：</span>
              <input type="password" class="bsie7 password password_falg hr_password" onkeydown="enterregist()" placeholder="请输入6-16个字符，建议字母加数字的组合" value="" name="">
              <em style="display:none;" class="no"></em>
              <input type="text" class="bsie7 text_pos password_falg2 password hr_password2" onkeydown="enterregist()" placeholder="请输入6-16个字符，建议字母加数字的组合">
              <div class="see_password"></div>
            </div>
            <div class="baocuo error_msg_2"></div>
          </div>
          <div class="login_button">
            <input type="button" value="注&nbsp;册" name="" id="btnRegist">
            <div style=" padding-top:15px;" class="zidong">
              <div style="width:100%; margin-left:0;" class="left">
              <span class="zidong_choose">
              	<i style="height:19px;margin-right:1px;" id="xieyi_label" class="add_i"></i>
              	<label for="mm">我已阅读并同意</label>
              </span>
              <a style="color: #17b385; float: none; margin-right:0px;" target="_blank" href="/ua/">《内聘网用户协议》</a>
              </div>
            </div>
          </div>
        </form>
        
      </div>
      <div class="denglu_pages_right right" id="">
        <div class="zhuce">已有账号直接登录</div>
        <div class="zhuce"><a title="" href="login.html">登录</a></div>
      </div>
     
    </div>
  </div>
  <input type="hidden" value="http://www.neipin.comreg.html" id="my_tou_url">


</body></html>